In [1]:
from fbprophet import Prophet

In [2]:
import pandas as pd
import numpy as np

In [ ]:
sales = pd.read_csv('/Users/michaelkareev/Desktop/Data Science Recruiting Related/Time-Series/three_by_day.csv')

In [5]:
sales.head()

  Date (Weeks Starting 1st day of Year)          Merchant MV - Accepted (MCCY)
0                            2017-01-01  BARNEYS NEW YORK               11,082
1                            2017-01-01         NORDSTROM               66,166
2                            2017-01-01          SAKS.COM               91,384
3                            2017-01-02  BARNEYS NEW YORK               19,256
4                            2017-01-02         NORDSTROM               96,286

In [23]:
#three separate dataframes 
saks = sales[sales['Merchant']=='SAKS.COM']
barneys = sales[sales['Merchant']=='BARNEYS NEW YORK']
nordstrom = sales[sales['Merchant']=='NORDSTROM']

In [24]:
#Drop merchant from respective dataframes
saks.drop('Merchant', axis=1, inplace = True)
barneys.drop('Merchant', axis=1, inplace = True)
nordstrom.drop('Merchant', axis=1, inplace = True)

In [41]:
#Rename the columns to something shorter
saks.rename(index=str, columns={"Date (Weeks Starting 1st day of Year)": "Date","MV - Accepted (MCCY)" : "MV"}, inplace = True)
barneys.rename(index=str, columns={"Date (Weeks Starting 1st day of Year)": "Date","MV - Accepted (MCCY)" : "MV"}, inplace = True)
nordstrom.rename(index=str, columns={"Date (Weeks Starting 1st day of Year)": "Date","MV - Accepted (MCCY)" : "MV"}, inplace = True)

In [ ]:
saks['Date'] = pd.to_datetime(saks['Date'])
barneys['Date'] = pd.to_datetime(barneys['Date'])
nordstrom['Date'] = pd.to_datetime(nordstrom['Date'])

In [ ]:
#Index column is now a date column
saks.set_index('Date')
barneys.set_index('Date')
nordstrom.set_index('Date')