In [1]:
from fbprophet import Prophet

In [2]:
import pandas as pd
import numpy as np

In [4]:
sales = pd.read_csv('/Users/michaelkareev/Desktop/Data Science Recruiting Related/Time-Series/three_by_day.csv')

In [5]:
sales.head()

  Date (Weeks Starting 1st day of Year)          Merchant MV - Accepted (MCCY)
0                            2017-01-01  BARNEYS NEW YORK               11,082
1                            2017-01-01         NORDSTROM               66,166
2                            2017-01-01          SAKS.COM               91,384
3                            2017-01-02  BARNEYS NEW YORK               19,256
4                            2017-01-02         NORDSTROM               96,286

In [8]:
saks = sales[sales['Merchant']=='SAKS.COM']
barneys = sales[sales['Merchant']=='BARNEYS NEW YORK']
nordstrom = sales[sales['Merchant']=='NORDSTROM']